.git
.gitattributes
.gitignore
.env
.env.local
.env.*.local
Dockerfile
.dockerignore
docker-compose*.yml
node_modules/
.next/
npm-debug.log
yarn-error.log
.editorconfig
.eslintrc.json
prettier.config.*
tsconfig.json
vitest.config.*
playwright.config.*
**/.DS_Store
**/Thumbs.db
coverage/
playwright-report/
test-results/
tests/
